body {
	font-family: 'Julius Sans One', sans-serif;
	padding-top: 50px;
	display: none;
}

.sidenav {
	border-radius: 0 30px 0 0;
	height: 100%;
	width: 0;
	position: absolute;
	z-index: 2;
	top: 50px;
	left: 0;
	background-color: #AD1457;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	-webkit-box-shadow: 10px -2px 16px 0px rgba(176,190,197,0.75);
	-moz-box-shadow: 10px -2px 16px 0px rgba(176,190,197,0.75);
	box-shadow: 10px -2px 16px 0px rgba(176,190,197,0.75);
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 20px;
	color: #F8BBD0;
	display: block;
	transition: 0.3s;
	font-weight: 900;
}

.sidenav a:hover, .sidenav a:focus{
	color: #ffffff;
}

.sidenav .item {	
	padding: 16px 8px 16px 32px;
}


.sidenav .item:hover {	
	background-color: #ec407a;
	-webkit-box-shadow: 0px 0px 20px 0px #ffffff;
	-moz-box-shadow: 0px 0px 20px 0px #ffffff;
	box-shadow: 0px 0px 20px 0px #ffffff;
}

.sidenav .label {
	color: #eeeeee;
	position: absolute;
	top: 25px;
	left: 0;
	font-size: 25px;
	margin-left: 15px;
	padding: 0 !important;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

.sidenav .selected {
	background-color: #d81b60;
	-webkit-box-shadow: 0px 0px 20px 0px #FF80AB;
	-moz-box-shadow: 0px 0px 20px 0px #FF80AB;
	box-shadow: 0px 0px 20px 0px #FF80AB;
}

.sidenav input {
	width: 75%;
	height: 50%;
	margin-left: 15px;
	display: block;
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
}

#arrow {
	width: 100px;
	height: auto;
}

#main {
	transition: margin-left .5s;
	padding: 50px 0 0 0;
	height: 100%;
	width: 100%;
	position: absolute;
	transition: 0.5s;
}

.navbar-default {
	background-color: #388e3c;
	font-weight: bold;
	border: 0;
	-webkit-box-shadow: 0px 10px 16px 0px rgba(176,190,197,0.5);
	-moz-box-shadow: 0px 10px 16px 0px rgba(176,190,197,0.5);
	box-shadow: 0px 10px 16px 0px rgba(176,190,197,0.5);
	z-index: 1;
}

.navbar-default {
	background-color: #388e3c;
	font-weight: bold;
	border: 0;
	-webkit-box-shadow: 0px 10px 16px 0px rgba(176,190,197,0.5);
	-moz-box-shadow: 0px 10px 16px 0px rgba(176,190,197,0.5);
	box-shadow: 0px 10px 16px 0px rgba(176,190,197,0.5);
	z-index: 1;
}


.navbar-brand {
	color: #fafafa !important;
	transition: 1s;
}

.navbar-brand:hover {
	color: #ffffff !important;
	text-shadow: 0px 0px 10px #ffffff;
}

#copyright {
	color: #ffffff !important;
}

#drawerTip {
	text-align: center;
	color: #616161;
	font-weight: 900;
}


#map {
	height: 100%;
	margin: 50px;
	clear: both;
}

.center-horizontally {
	margin: 0px auto;
	display: block;
	text-align: center;
}

#copyright {
	text-align: center;
}

#tagArea {
	float: right;
	width: 75%;
	text-align: right;
}

tag {    
	display: inline-block;
	height: 24px;
	line-height: 24px;
	position: relative;
	margin: 0 16px 8px 0;
	padding: 0 10px 0 12px;
	background: #428bca;    
	-webkit-border-bottom-right-radius: 3px;    
	border-bottom-right-radius: 3px;
	-webkit-border-top-right-radius: 3px;    
	border-top-right-radius: 3px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	color: #fff;
	font-size: 12px;
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	text-shadow: 0 1px 2px rgba(0,0,0,0.2);
	font-weight: bold;
}

tag::before {
	content: "";
	position: absolute;
	top:0;
	left: -12px;
	width: 0;
	height: 0;
	border-color: transparent #428bca transparent transparent;
	border-style: solid;
	border-width: 12px 12px 12px 0;        
}

tag .closebtn {
	color: #ffffff;
	text-decoration: none;
	margin-left: 5px;
}

.amber {
	background: #FFC107 !important;
}

.amber::before {
	border-color: transparent #FFC107 transparent transparent !important;
}